@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/base.scss';

.form-container {
  @include flex-center(flex, space-between, start, column);
  gap: $spacing-20;

  .header-container {
    @include flex-center(flex, space-between, center);
    width: 100%;

    .btns-container {
      display: flex;
      gap: $spacing-12;
    }
  }

  .form {
    @include flex-center(flex, center, start);
    gap: $spacing-20;
    width: 100%;

    .left-column,
    .right-column {
      @include flex-center(flex, center, start, column);
      gap: $spacing-20;
      padding: $spacing-24;
      background-color: map-get($theme-light, bg-secondary);
      border: 1px solid map-get($theme-light, border-primary-lighter);
      border-radius: $radius-20;

      .input-group {
        @include flex-center(flex, center, start, column);
        gap: $spacing-4;
        width: 100%;

        .input {
          padding: $spacing-12;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid map-get($theme-light, border-primary);
          border-radius: $radius-12;
          font-family: 'Inter', sans-serif;

          &::placeholder {
            color: map-get($theme-light, text-primary-placeholder);
          }
        }

      }
    }

    .left-column {
      width: 60%;
    }

    .right-column {
      width: 40%;

      .upload-container {
        @include flex-center(flex, center, center, column);
        gap: $spacing-12;
        padding: $spacing-16;
        width: 100%;
        height: 22rem;
        box-sizing: border-box;
        border: 1px solid map-get($theme-light, border-primary);
        border-radius: $radius-12;
        cursor: pointer;

        &.dragover {
          background-color: rgba(0, 0, 0, 0.05);
          border-color: map-get($theme-light, text-brand);
        }

        .upload-icon {
          padding: $spacing-8;
          border: 1px solid map-get($theme-light, border-primary);
          border-radius: $radius-8;
        }

        .blue-text {
          color: map-get($theme-light, text-brand);
        }
      }

      .primary-default-filled-btn {
        width: 100%;
      }

      .file-card {
        @include flex-center(flex, space-between, center);
        padding: $spacing-12 $spacing-16;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid map-get($theme-light, border-primary);
        border-radius: $radius-12;
        background-color: map-get($theme-light, surface-primary);

        .file-info {
          @include flex-center(flex, start, center);
          gap: $spacing-12;
        }

        .file-icon {
          @include flex-center(flex, center, center);
          position: relative;

          .file-type {
            position: absolute;
            bottom: -6px;
            left: 4px;
            background: red;
            color: white;
            font-size: 10px;
            font-weight: bold;
            padding: 2px 4px;
            border-radius: $radius-8;
          }
        }

        .file-details {
          @include flex-direction(column);

        }

        .delete-btn {
          border: none;
          background: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding: 100px 24px 0px 24px !important;
  }

  h5 {
    font-size: 24px;
    line-height: 36px;
  }

  .form {
    flex-direction: column !important;

    .left-column,
    .right-column {
      width: 100% !important;
      box-sizing: border-box !important;
    }
  }
}
