@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/base.scss';

.layout {
  @include flex-direction(column);
  height: 100vh;

  .right-column {
    @include flex-direction(column);
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;

    app-navbar {
      flex: 0 0 auto;
    }

    .content {
      flex: 1 1 auto;
      padding: $spacing-36;
      overflow-y: auto;


      .form {
        @include flex-center(space-between, start, column);
        gap: $spacing-20;

        .header-container {
          @include flex-center(space-between, center);
          width: 100%;

          .btns-container {
            display: flex;
            gap: $spacing-12;
          }
        }

        .form-container {
          @include flex-center(center, start);
          width: 100%;
          gap: $spacing-20;

          .left-column,
          .right-column {
            @include flex-center(center, start, column);
            background-color: map-get($theme-light, bg-secondary);
            border: 1px solid map-get($theme-light, border-primary-lighter);
            border-radius: $radius-20;
            padding: $spacing-24;
            gap: $spacing-20;

            .input-group {
              @include flex-center(center, start, column);
              gap: $spacing-4;
              width: 100%;

              .input {
                width: 100%;
                box-sizing: border-box;
                border-radius: $radius-12;
                padding: $spacing-12;
                color: map-get($theme-light, text-primary-placeholder);
                border: 1px solid map-get($theme-light, border-primary);
              }

              &::placeholder {
                color: map-get($theme-light, text-primary-placeholder);
              }
            }
          }

          .left-column {
            width: 60%;
          }

          .right-column {
            width: 40%;

            .border-container {
              @include flex-center(center, center, column);
              gap: $spacing-12;
              padding: $spacing-16;
              border: 1px solid map-get($theme-light, border-primary);
              border-radius: $radius-12;
              box-sizing: border-box;
              width: 100%;
              height: 22rem;
              cursor: pointer;

              &.dragover {
                background-color: rgba(0, 0, 0, 0.05);
                border-color: map-get($theme-light, text-brand);
              }

              .upload-icon {
                padding: $spacing-8;
                border: 1px solid map-get($theme-light, border-primary);
                border-radius: $radius-8;
              }


                .blue-text {
                  color: map-get($theme-light, text-brand);
                }

              .text-sm {
                @include text-style(text-sm, regular);
                color: map-get($theme-light, text-secondary);
              }
            }
          }
        }
      }

    }
  }
}
