@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/base.scss';

.section-container {
  @include flex-direction(column);
  gap: $spacing-24;
  margin-top: $spacing-20;

  .title-container {
    @include flex-center(flex, space-between, center);
    padding: $spacing-4;
    z-index: 1;
    width: 100%;
  }

  .albums-wrap {
    @include horizontal-scroll($spacing-24);

    .album-card {
      @include card-style;

      .album-details {
        @include flex-align(flex, start, column);
        gap: $spacing-8;

        .album-info-small {
          @include flex-center(flex, center, center);
          gap: $spacing-8;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .section-container {
    gap: $spacing-16 !important;
    margin: 0px 0px 12px 0px !important;
  }
}
