  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: map-get($theme-light, text-primary);
    background-color: map-get($theme-light, bg-primary);
  }

  app-album-list,
  app-playlist-list,
  app-podcast-form,
  app-podcast-form,
  app-podcast-list {
    width: 100%;
  }

  .layout {
    @include flex-direction(column);
    padding-bottom: 100px;
    height: 100%;

    .right-container {
      @include flex-direction(column);
      flex-grow: 1;
      height: 100%;
      overflow-y: hidden;

      .content {
        flex: 1 1 auto;
        padding: $spacing-36;
        overflow-y: auto;
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      padding: 100px $spacing-24 0px $spacing-24 !important;
    }
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
  }

  .data-table th,
  .data-table td {
    padding: $spacing-12 $spacing-16;
    text-align: left;
  }

  .data-table th {
    @include text-style(text-sm, semibold);
    color: map-get($theme-light, text-secondary);
  }

  .data-table thead {
    border-bottom: 1px solid map-get($theme-light, border-primary);
  }

  p {
    margin: 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    @include text-style(text-md, regular);
    background-color: map-get($theme-light, bg-secondary);
    color: map-get($theme-light, text-primary-placeholder);
  }

  form {
    width: 100%;
    box-sizing: border-box;
  }

  .input-icon {
    height: 16px;
  }

  h1 {
    @include text-style(display-2xl, medium);
    margin: 0;
  }

  h2 {
    @include text-style(text-xl, semibold);
    margin: 0;
  }

  h3 {
    @include text-style(text-lg, medium);
    margin: 0;
  }

  h4 {
    @include text-style(display-md, medium);
    margin: 0;
  }

  h5 {
    @include text-style(display-sm, medium);
    margin: 0;
  }

  .text-xs-regular {
    @include text-style(text-xs, regular);
  }

  .text-xs-medium {
    @include text-style(text-xs, medium);
  }

  .text-sm-regular {
    @include text-style(text-sm, regular);
  }

  .text-sm-medium {
    @include text-style(text-sm, medium);
  }

  .text-sm-semibold {
    @include text-style(text-sm, semibold);
  }

  .text-md-regular {
    @include text-style(text-md, regular);
  }

  .text-md-medium {
    @include text-style(text-md, medium);
  }

  .text-md-semibold {
    @include text-style(text-md, semibold);
  }

  .txt-light-primary-placeholder {
    color: map-get($theme-light, text-primary-placeholder);
  }

  .txt-light-neutral {
    color: map-get($theme-light, text-neutral);
  }

  .txt-light-secondary {
    color: map-get($theme-light, text-secondary);
  }

  .primary-default-filled-btn {
    padding: $spacing-12 $spacing-20;
    @include text-style(text-md, regular);
    color: map-get($theme-light, text-dark);
    background-color: map-get($theme-light, surface-warning);
    border: none;
    border-radius: $radius-12;

    &:hover {
      background-color: map-get($theme-light, surface-warning-light);
    }
  }

  .primary-default-empty-btn {
    @include flex-center(flex, center, center);
    gap: $spacing-8;
    padding: $spacing-12 $spacing-20;
    @include text-style(text-md, regular);
    color: map-get($theme-light, text-dark);
    background-color: map-get($theme-light, bg-secondary);
    border: 1px solid map-get($theme-light, border-primary);
    border-radius: $radius-12;
    &:hover {
      background-color: map-get($theme-light, bg-primary);
    }
  }

  .btn-sm {
    padding: $spacing-4 $spacing-8;
    @include text-style(text-xs, regular);
    color: map-get($theme-light, text-dark);
    background-color: map-get($theme-light, surface-warning);
    border-radius: $radius-20;
    white-space: nowrap;

    &:hover {
      background-color: map-get($theme-light, surface-warning-light);
    }
  }

  .btn-sm-empty {
    padding: $spacing-8 0;
    @include text-style(text-md, regular);
    background-color: inherit;
    border: none;
  }

  .btn-xs-empty {
    padding: $spacing-8 $spacing-12;
    @include text-style(text-md, regular);
    border: 1px solid map-get($theme-light, border-primary);
    border-radius: $radius-12;

    &:hover {
      background-color: map-get($theme-light, surface-primary-active);
    }

    &:active {
      background-color: map-get($theme-light, surface-invert);
      color: map-get($theme-light, text-invert);
    }
  }
