body {
  font-family: 'Inter', sans-serif;
  color: map-get($theme-light, text-primary);
  background-color: map-get($theme-light, bg-primary);
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

app-sidebar {
  width: 20%;
}


input {
  flex: 1;
  @include text-style(text-md, regular);
  border: none;
  outline: none;
  background-color: map-get($theme-light, bg-secondary);
  color: map-get($theme-light, text-primary-placeholder);

}

.input-icon {
  height: 16px; 
}

h3 {
  @include text-style(text-lg, medium);
}

.primary-default-filled-btn {
  padding: $spacing-12 $spacing-20;
  border-radius: $radius-12;
  background-color: map-get($theme-light, surface-warning);
  border: none;
  color: map-get($theme-light, text-dark);
  @include text-style(text-md, regular);
}

.primary-default-filled-btn:hover {
  padding: $spacing-12 $spacing-20;
  border-radius: $radius-12;
  background-color: map-get($theme-light, surface-warning-light);
  border: none;
  color: map-get($theme-light, text-dark);
  @include text-style(text-md, regular);
}

.primary-default-empty-btn {
  padding: $spacing-12 $spacing-20;
  border-radius: $radius-12;
  border: 1px solid map-get($theme-light, border-primary);
  background-color: map-get($theme-light, bg-secondary);
  color: map-get($theme-light, text-dark);
  @include flex-center(center, center);
  gap: $spacing-8;
  @include text-style(text-md, regular);
}

.btn-small {
  background-color: map-get($theme-light, surface-warning);
  padding: $spacing-4 $spacing-8;
  border-radius: $radius-20;
  @include text-style(text-xs, regular);
  color: map-get($theme-light, text-dark);
  white-space: nowrap;
}

.small-empty-btn {
  border: none;
  padding: $spacing-8 0;
  @include text-style(text-md, regular);
  color: map-get($theme-light, text-primary);
  background-color: inherit;
}
