  body {
    font-family: 'Inter', sans-serif;
    color: map-get($theme-light, text-primary);
    background-color: map-get($theme-light, bg-primary);
    margin: 0;
  }

  .app-layout {
    display: flex;
    height: 100vh;

    &.flex-row {
      flex-direction: row;
    }

    &.flex-column {
      flex-direction: column;
    }
  }

  app-sidebar {
    width: 280px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  app-navbar {
    flex: 0 0 auto;
  }

  app-music-control {
    flex: 0 0 auto;
    position: sticky;
    bottom: 0;
    z-index: 10;
  }

  app-album-list,
  app-playlist-list,
  app-podcast-form,
  app-podcast-form,
  app-podcast-list {
    width: 100vw;
  }

  .layout {
    @include flex-direction(column);
    height: 100vh;

    .right-container {
      @include flex-direction(column);
      flex-grow: 1;
      height: 100%;
      overflow-y: hidden;

      .content {
        flex: 1 1 auto;
        padding: $spacing-36;
        overflow-y: auto;
      }
    }
  }


  p {
    margin: 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  input {
    flex: 1;
    @include text-style(text-md, regular);
    border: none;
    outline: none;
    background-color: map-get($theme-light, bg-secondary);
    color: map-get($theme-light, text-primary-placeholder);
  }

  form {
    width: 100%;
    box-sizing: border-box;

  }

  .input-icon {
    height: 16px;
  }

  h1 {
    @include text-style(display-2xl, medium);
    margin: 0;
  }

  h2 {
    @include text-style(text-xl, semibold);
    margin: 0;
  }

  h3 {
    @include text-style(text-lg, medium);
    margin: 0;
  }

  h4 {
    @include text-style(display-md, medium);
    margin: 0;
  }

  h5 {
    @include text-style(display-sm, medium);
    margin: 0;
  }

  .text-xs-regular {
    @include text-style(text-xs, regular);
  }

  .text-xs-medium {
    @include text-style(text-xs, medium);
  }

  .text-sm-regular {
    @include text-style(text-sm, regular);
  }

  .text-sm-medium {
    @include text-style(text-sm, medium);
  }

  .text-sm-semibold {
    @include text-style(text-sm, semibold);
  }

  .text-md-regular {
    @include text-style(text-md, regular);
  }

  .text-md-medium {
    @include text-style(text-md, medium);
  }

  .text-md-semibold {
    @include text-style(text-md, semibold);
  }

  .txt-light-primary-placeholder {
    color: map-get($theme-light, text-primary-placeholder);
  }

  .txt-light-neutral {
    color: map-get($theme-light, text-neutral);
  }

  .txt-light-secondary {
    color: map-get($theme-light, text-secondary);
  }


  .layout {
    display: flex;

    .sidebar {
      position: sticky;
      top: 0;
      height: 100vh;
      overflow-y: auto;
    }
  }

  .primary-default-filled-btn {
    width: 100%;
    padding: $spacing-12 $spacing-20;
    border-radius: $radius-12;
    background-color: map-get($theme-light, surface-warning);
    border: none;
    color: map-get($theme-light, text-dark);
    @include text-style(text-md, regular);

    &:hover {
      background-color: map-get($theme-light, surface-warning-light);
    }
  }

  .primary-default-empty-btn {
    width: 100%;
    padding: $spacing-12 $spacing-20;
    border-radius: $radius-12;
    border: 1px solid map-get($theme-light, border-primary);
    background-color: map-get($theme-light, bg-secondary);
    color: map-get($theme-light, text-dark);
    @include flex-center(center, center);
    gap: $spacing-8;
    @include text-style(text-md, regular);
  }

  .btn-sm {
    background-color: map-get($theme-light, surface-warning);
    padding: $spacing-4 $spacing-8;
    border-radius: $radius-20;
    @include text-style(text-xs, regular);
    color: map-get($theme-light, text-dark);
    white-space: nowrap;
  }

  .btn-sm-empty {
    border: none;
    padding: $spacing-8 0;
    @include text-style(text-md, regular);
    background-color: inherit;
  }

  .btn-xs-empty {
    padding: $spacing-8 $spacing-12;
    border: 1px solid map-get($theme-light, border-primary);
    border-radius: $radius-12;
    @include text-style(text-md, regular);

    &:hover {
      background-color: map-get($theme-light, surface-primary-active);
    }

    &:active {
      background-color: map-get($theme-light, surface-invert);
      color: map-get($theme-light, text-invert);
    }
  }
