@import './variables.scss';

@mixin text-style($size-name, $weight-name) {
  $size: map-get($text-sizes, $size-name);
  $weight: map-get($text-weights, $weight-name);
  font-family: 'Inter', sans-serif;
  font-size: map-get($size, font-size);
  line-height: map-get($size, line-height);
  font-weight: $weight;
}

@mixin flex-center($display: flex, $justify: center, $align: center, $direction: row) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin flex-align($display: flex, $align: center, $direction: row) {
  display: $display;
  align-items: $align;
  flex-direction: $direction;
}

@mixin flex-direction($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin horizontal-scroll($gap: $spacing-16) {
  @include flex-align(flex, flex-start);
  gap: $gap;
  flex-wrap: nowrap;
  padding: 0 24px;
  margin: 0 -24px;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin card-style {
  @include flex-center(flex, start, flex-start, column);
  gap: $spacing-8;
  flex: 0 0 180px;
  padding: $spacing-12;
  max-width: 200px;
  background-color: map-get($theme-light, bg-secondary);
  border-radius: $radius-12;

  .cover-img {
    width: 100%;
    height: 150px;
    border-radius: $radius-8;
    object-fit: cover;
  }
}
