@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/base.scss';

main {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  overflow: hidden;
}

.form-section {
  @include flex-center(flex, center, center);
  flex-grow: 1;
  width: 50%;
  background-color: map-get($theme-light, bg-primary);

  .register-container {
    @include flex-center(flex, center, center, column);
    gap: $spacing-20;
    padding: $spacing-24;
    width: 100%;
    max-width: 400px;
    background-color: map-get($theme-light, bg-secondary);
    border: 1px solid map-get($theme-light, border-primary);
    border-radius: $radius-20;

    .register-info-wrapper {
      @include flex-center(flex, center, center, column);
      gap: $spacing-4;

      .register-info-signup {
        @include flex-center(flex, center, center);
        gap: $spacing-4;
      }
    }
  }

  .input-group {
    @include flex-center(flex, center, center);
    gap: $spacing-4;
    padding: $spacing-10 $spacing-12;
    margin-bottom: $spacing-20;
    border: 1px solid map-get($theme-light, border-primary);
    border-radius: $radius-12;
    color: map-get($theme-light, text-primary-placeholder);

    &::placeholder {
      color: map-get($theme-light, text-primary-placeholder);
    }
  }

  .checkbox-wrap {
    margin-bottom: $spacing-20;
    .checkbox {
      // border: 1px solid map-get($theme-light, border-primary) !important;

    }
  }

  .register-btn {
    margin-bottom: $spacing-20;
    width: 100%;
    cursor: pointer;
  }

  .divider {
    @include flex-center(flex, center, center);
    gap: $spacing-20;
    margin-bottom: $spacing-20;

    hr {
      flex: 1;
      border: none;
      border-top: 1px solid map-get($theme-light, border-primary);
    }
  }
}

.image-section {
  position: relative;
  padding: 2rem;
  width: 50%;
  background-color: map-get($theme-light, surface-warning);

  .left-lines,
  .right-lines {
    position: absolute;
  }

  .left-lines {
    top: 0;
    left: 0;
  }

  .right-lines {
    bottom: 0;
    right: 0;
  }

  img {
    position: absolute;
  }

  .dash-img {
    bottom: 0;
    right: 0;
    width: 60%;
  }

  .categ-img {
    height: 20%;
    right: 60px;
    bottom: 20rem;
    width: 20%;
  }

  .categ-img-1 {
    height: 20%;
    bottom: 80px;
    left: 270px;
    width: 20%;
  }

}

@media (max-width: 900px) {
  .image-section {
    display: none;
    padding: 1rem;
  }

  .register-container {
    width: 80% !important;
    max-width: none;

    form {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .input-group {
    @include flex-center(flex, center, center);
    gap: $spacing-4;
  }

  .input-group input {
    margin-left: 0;
    width: 100%;
  }
}
