<main class="layout">
  <div class="right-container">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="header-container">
        <h5>Podcasts</h5>
        <button class="primary-default-filled-btn" (click)="createPodcast()">Create New</button>
      </div>

      <table class="data-table">
        <thead>
          <tr>
            <th>Cover</th>

            <th>Title</th>
            <th>Status</th>
            <th>Premium</th>
            <th>Visible</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let podcast of podcasts">
            <td>
              <img *ngIf="podcast.imageUrl" [src]="podcast.imageUrl" alt="Cover" width="50" style="margin-right: 8px;">
              {{ podcast.title }}
            </td>
            <td>{{ podcast.title }}</td>
            <td>{{ podcast.status ? 'Online' : 'Offline' }}</td>
            <td>{{ podcast.premium ? 'Yes' : 'No' }}</td>
            <td>{{ podcast.visible ? 'Yes' : 'No' }}</td>
            <td>
              <button (click)="editPodcast(podcast.id)">Edit</button>
              <button (click)="deletePodcast(podcast.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
