@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/base.scss';

.featured-container {
  @include horizontal-scroll($spacing-24);

  .featured-card {
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    min-width: 260px;

    .featured-img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: $radius-8;
      object-fit: cover;
    }

    .featured-overlay {
      @include flex-center(flex, center, flex-start, column);
      gap: $spacing-16;
      position: absolute;
      bottom: $spacing-16;
      left: $spacing-16;
    }
  }
}

.categories-container,
.recent-container {
  @include flex-direction(column);
  gap: $spacing-20;
  margin-top: $spacing-32;

  .title-container {
    @include flex-center(flex, space-between, center);
    width: 100%;
    padding: $spacing-8;
    z-index: 1;
  }

  .category-cards {
    @include horizontal-scroll($spacing-24);

    .category-card {
      @include card-style;
    }
  }

  .artist-container {
    display: flex;
    align-items: center;
    gap: $spacing-8;

    .podcast-cover {
      width: 40px;
      height: 40px;
      border-radius: $radius-8;
      object-fit: cover;
    }

    .podcast-wrap {
      @include flex-align(flex, flex-start, column);
      gap: $spacing-4;
    }
  }

  .podcast-status.online {
    color: map-get($theme-light, text-success);
  }

  .podcast-status.offline {
    color: map-get($theme-light, surface-error);
  }
  
  .btn-container {
    @include flex-center(flex, center, center);
    gap: $spacing-16;
    padding: $spacing-16 0;

    button {
      border: none;
      background: none;
    }

    .desktop-actions {
      display: flex;
      gap: $spacing-8;
    }

    .mobile-actions {
      display: none;
      position: relative;

      .menu-trigger {
        padding: $spacing-8;
        background: none;
        border: none;
        cursor: pointer;
      }

      .dropdown {
        position: absolute;
        top: -3rem;
        right: 2rem;
        z-index: 10;
        padding: 0;
        min-width: 140px;
        background-color: map-get($theme-light, bg-secondary);
        border: 1px solid map-get($theme-light, border-primary);
        border-radius: $radius-12;

        li {
          padding: $spacing-8 $spacing-12;
          width: 100%;
          box-sizing: border-box;
          border-radius: $radius-12;
          list-style: none;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .hide-element {
    display: none !important;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
  }

  .featured-overlay {
    gap: $spacing-8;
  }

  .btn-container {
    .desktop-actions {
      display: none !important;
    }

    .mobile-actions {
      display: block !important;
    }
  }
}
